certifi>=2017.11.5
chardet>=3.0.4
cycler>=0.10.0
idna>=2.6
matplotlib>=2.1.1
numpy>=1.13.3
pyparsing>=2.2.0
python-dateutil>=2.6.1
pytz>=2017.3
requests>=2.20.0
scikit-learn>=0.19.1
scipy>=1.0.0
six>=1.11.0
urllib3>=1.22
jupyter>=1.0.0
github3.py>=1.0.0a4
arxiv>=0.2.2
